<div class="container-fluid bg-stats">
    <div class="container pt-5 text-md-start text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/logo.svg" alt="" class="img-fluid" width="250">
                    <p class="pt-3 mb-0">Address</p>
                    <ul class="w-75 text-dark mx-md-0 mx-auto">
                        <li>City Office: Near Bank of Baroda, Jhabua</li>
                        <li>Jhabua Campus: Bilidoj Village, Jhabua</li>
                    </ul>
                    <p class=" mb-0">Contact Details:</p>
                    <ul class="w-75 text-dark mx-md-0 mx-auto">
                        <li><a href="tel:+91 7869459999" class="text-decoration-none text-black">+91 7869459999</a></li>
                        <li><a href="tel:+91 9479840835" class="text-decoration-none text-black">+91 9479840835</a></li>
                        <li><a href="mailto:info@ankuraminternationalschool.in" class="text-decoration-none text-black">info@ankuraminternationalschool.in</a></li>
                    </ul>
                
            </div>
            <div class="col-md-3 col-6 align-self-center">
                <ul class="list-unstyled m-0">
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="/"
                            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </li>
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="about-us"
                            routerLinkActive="active">About Us</a>
                    </li>
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="gallery"
                            routerLinkActive="active">Gallery</a>
                    </li>
                    <li class="pt-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="infrastructure"
                            routerLinkActive="active">Infrastructure</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-6 align-self-center">
                <ul class="list-unstyled m-0">
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="academics"
                            routerLinkActive="active">Academics</a>
                    </li>
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="admission"
                            routerLinkActive="active">Admission</a>
                    </li>
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="our-team"
                            routerLinkActive="active">Our Team</a>
                    </li>
                    <li class="py-2 post-preview-nosh">
                        <a class="text-decoration-none text-dark" aria-current="page" routerLink="facility"
                            routerLinkActive="active">Facilities</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-md-8 pb-4 pt-1">
                Website Design by <a href="https://kaushalzod.in/" class="text-decoration-none">Kaushal</a>
            </div>
        </div>
    </div>
</div>
