<div class="container-fluid p-0 my-3">
  <h2 style="text-align: center">Enquire Now</h2>
  <form
    action="https://docs.google.com/forms/d/e/1FAIpQLSdRm0D1Ez6Q_8HfgNjOVRH1Yyc3tAD2a1LGYRP1fq-pGry0mg/formResponse">
    <div class="form-group row p-3">
      <label for="name" class="col-sm-1 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="entry.1359913779" required
               placeholder="Full Name">
      </div>
    </div>
    <div class="form-group row p-3">
      <label for="exampleInputEmail1" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="exampleInputEmail1" name="entry.1937057534" required
               placeholder="Enter email">
      </div>
    </div>
    <div class="form-group row p-3">
      <label for="number" class="col-sm-1 col-form-label">Mobile</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="number" name="entry.13173669" required
               placeholder="Mobile">
      </div>
    </div>
    <div class="form-group row p-3">
      <label for="state" class="col-sm-1 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="state" name="entry.417667732" required
               placeholder="State">
      </div>
    </div>

    <div class="form-group row p-3">
      <label for="city" class="col-sm-1 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="city" name="entry.266345394" required
               placeholder="City">
      </div>
    </div>
    <button type="submit" style="text-align: center" class="btn btn-primary">Submit</button>
  </form>

</div>
