<div class="container-fluid p-0">
    <div class="header mb-4">
        <img src="assets/admission1.png" class="img-fluid h-100 w-100 " alt="">
    </div>
    <div class="container ">
        <div class="mb-4">
            <a routerLink="" class="text-decoration-none text-hover">Home</a><span class="mx-3">></span><span
                class="text-decoration-none text-muted">Admission</span>
        </div>

        <div class="text-center">
            <h1 class="display-6 fw-bolder">Admissions<span class="stroke"> Open</span></h1>
            <p class="text-muted lh-lg my-3 col-8 mx-auto">Enroll your child to Jhabua's fastest growing school. Admissions are open for session 2022-23 from Class- Pre-nursery to Seventh.
                Admission forms are available at our city office on all working days from 12pm to 5pm.</p>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="m-2 p-1">
                    <div class="card rounded-3 shadow-sm post-preview-nosh">
                        <iframe src="assets/admissionForm.pdf" width="100%" height="300" class="card-img-top"></iframe>
                        <div class="card-body rounded-bottom">
                            <a href="assets/admissionForm.pdf" rel="noopener noreferrer" target="_blank"
                                class="btn btn-outline-danger card-text rounded-0 px-4">Download Admission Form</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="m-2 p-1">
                    <div class="card rounded-3 shadow-sm post-preview-nosh">
                        <iframe src="assets/feesStruct.pdf" width="100%" height="300" class="card-img-top"></iframe>
                        <div class="card-body rounded-bottom">
                            <a href="assets/feesStruct.pdf" rel="noopener noreferrer" target="_blank"
                                class="btn btn-outline-danger card-text rounded-0 px-4">Download Fees Structure</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 text-center">
                <div class="m-2 p-1">
                    <div class="card rounded-3 shadow-sm post-preview-nosh">
                        <iframe src="assets/criteria.pdf" width="100%" height="300" class="card-img-top"></iframe>
                        <div class="card-body rounded-bottom">
                            <a href="assets/criteria.pdf" rel="noopener noreferrer" target="_blank"
                                class="btn btn-outline-danger card-text rounded-0 px-4">Download Criteria Details</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>
