<div class="container-fluid p-0">
    <div class="header mb-4">
        <img src="assets/all_bg.jpg" class="img-fluid h-100 w-100 " alt="">
    </div>
    <div class="container ">
        <div class="mb-4">
            <a routerLink="" class="text-decoration-none text-hover">Home</a><span class="mx-3">></span><span class="text-decoration-none text-muted">Academics</span>
        </div>
        
        <div class="text-center">
            <h1 class="display-6 fw-bolder">Academics<span class="stroke"> Details</span></h1>
            <!-- <p class="text-muted lh-lg my-3 col-8 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis, expedita nam. Vero quisquam rem amet, cum, quaerat quo.</p> -->
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="m-2 p-2">
                    <div class="card rounded-3 shadow-sm post-preview-nosh">
                        <iframe src="assets/feesStruct.pdf" width="100%" height="300" class="card-img-top"></iframe>
                        <!-- <img src="https://source.unsplash.com/random/{{item.folder}}" class="img-fluid card-img-top"> -->
                        <div class="card-body rounded-bottom">
                            <!-- <p class="card-text fw-bold">{{item.title}}</p> -->

                            <a href="assets/feesStruct.pdf" rel="noopener noreferrer" target="_blank"
                                class="btn btn-outline-danger card-text rounded-0 px-4">Download Curriculum</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="m-2 p-2">

                    <div class="card rounded-3 shadow-sm post-preview-nosh">
                        <iframe src="assets/criteria.pdf" width="100%" height="300" class="card-img-top"></iframe>
                        <!-- <img src="https://source.unsplash.com/random/{{item.folder}}" class="img-fluid card-img-top"> -->
                        <div class="card-body rounded-bottom">
                            <!-- <p class="card-text fw-bold">{{item.title}}</p> -->

                            <a href="assets/criteria.pdf" rel="noopener noreferrer" target="_blank"
                                class="btn btn-outline-danger card-text rounded-0 px-4">Download Book Lists</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>