.icon{
    width: 60px !important;
    height: 60px !important;
}
.rounded-3{
    border-radius: 15px !important;
}
.fs-6{
    font-size: 0.9rem !important;
}
.icon-img{
    filter: hue-rotate(45deg) !important;
    filter: brightness(50) !important;
}